/* /client/styles/Header.css */
#header {
    background-color: #111623;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    box-shadow:0px 0px 20px 0px #ffffff70;
}
.header-title {
  font-family:"Bungee Inline", cursive;
  color:white;
  transition-duration:1s;
}
.header-title:hover {
    color:#d1ffdf;
    text-decoration:none;
}
.header-title h2 {
    position:absolute;
    left:0;
    right:0;
}
.logout {
    margin: 10px auto;
    width: 180px;
    height: 45px;
    float:right;
    padding: 11px 0 0 0!important;
    text-decoration: none!important;
}
@media screen and (max-width:992px) {
    .header-title h2 {
        font-size: 24px;
    }
}
@media screen and (max-width:768px) {
    .header-title h2 {
        font-size: 18px;
        margin-top: 8px;
    }
    .logout {
         width: 90px;
         height:35px;
         padding-top: 5px!important;
    }
}