/* /client/styles/Lobby.css */

.cards-wrapper {
	padding:65px 25px 0px 25px;
	margin-top:65px;
}
@media screen and (max-width:768px){
	.cards-wrapper {
		padding:20px;
	}
}
.credits {
	font-size:80%;
}